DISCOGS_API_TOKEN=
SECRET_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
DATABASE_URL=
DEBUG=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

ALLOWED_HOSTS=
DJANGO_CACHE_BACKEND=
DJANGO_CACHE_LOCATION=
SECURE_HSTS_SECONDS=
SECURE_HSTS_INCLUDE_SUBDOMAINS=
SECURE_HSTS_PRELOAD=
