asgiref==3.11.1
boto3==1.43.14
botocore==1.43.14
certifi==2026.5.20
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==6.0.5
django-storages==1.14.6
greenlet==3.5.1
gunicorn==26.0.0
idna==3.16
jmespath==1.1.0
packaging==26.2
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
pyee==13.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
s3transfer==0.17.0
sentry-sdk==2.60.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
whitenoise==6.12.0
